body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d6c6c6; /* Light background for contrast */
}
/* pwede ko repeat use for other pages */
.picture {
    position: relative;
    text-align: center;
    margin: 20px auto;
    max-width: 500px;
}

.picture img {
    width: 100%;
    max-width: 300%;
    height:  auto;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-size: cover;
}
.header {
    width: 100%;
    max-width: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 10;
}
.cruisers {
    max-width: 500%;
    margin: 20px auto;
    text-align: left;
}

.cruisers h1 {
    position: absolute;
    right: 50%;
    top: 90%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.cruisers img {
    width: 100%;  /* Ensures the image is responsive */
    max-width: 800px; 
    height: auto;
}

.city{
    position: relative;
    max-width: 500%;
    margin: 20px auto;
    text-align: right;
}

.city h1 {
    display: inline-block;
    position: absolute;
    top: -300%;
    left: 70%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.5rem;
    text-shadow: 2px 2px 4px rgba(78, 74, 74, 0.7);
    z-index: 10;
}

.city img {
    width: 100%;  /* Ensures the image is responsive */
    max-width: 800px;  
    height: auto;
    margin: -560px auto 100px auto; /* Pull the image 10px higher */
    margin-left: -50px; /* Move image 20px to the left */
}
